
<div class="wrapper">
  <mat-toolbar color="primary">
    <span>Fuzzy Word Matching </span>
    <span class="example-spacer"></span>        
  </mat-toolbar>
  <form class="example-form">
      <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange) = "tabIndexChanged($event)" >
        <mat-tab label="Words Collection">  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Word" [(ngModel)]="fuzzyWord" [ngModelOptions]="{standalone: true}"  id="fuzzyWord">
          </mat-form-field>  
          
          <div class="button-row">
              <button mat-raised-button color="accent" (click)="addWord()">Add Word</button>
              <div *ngIf="fuzzyWordList.length>0">
                  <button mat-raised-button color="warn" (click)="clearForm()">Clear List</button>        
              </div>              
          </div>
          
          <mat-selection-list #words>
            <mat-list-option *ngFor="let word of fuzzyWordList">
              {{word}}
            </mat-list-option>
          </mat-selection-list> 
          
          <!-- 
          <p>
            Options selected: {{words.selectedOptions.selected.length}}
          </p>  --> 
          
        
        </mat-tab>
      
        <mat-tab label="Fuzzy Test" >        
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Word To Compare" [(ngModel)]="compareWord" [ngModelOptions]="{standalone: true}"  id="compareWord">          
            </mat-form-field>
            <mat-form-field class="example-full-width"> 
              <input matInput placeholder="Enter Fuzzyness %" [(ngModel)]="fuzzyness" name="fuzzyness" type="number" min="1" max="100">
            </mat-form-field>           
            <button mat-raised-button color="accent" (click)="runFuzzyTest()">Run Fuzzy Test</button> 
        </mat-tab>
        <mat-tab label="Output">
          <p>Matched Words :</p>
            <mat-list>
                <mat-list-item *ngFor="let matchWord of matchWordList"> {{matchWord}} </mat-list-item>              
            </mat-list>
        </mat-tab>
    </mat-tab-group>
  </form>
</div>